*{
    box-sizing: border-box;
    padding: 0 ;
    margin: 0 ;
}
body {
    background-color: #ffeeee ;
    font-family: 'Playfair Display SC' ;
    color: #ff0000 ;
}

.header {
    padding: 10px;
    font-style: normal ;
    
}
.header h1 {
    display: inline-block;
    font-size: 32px;
    font-style: italic;
}
.header h1 .averybarela {
    font-size: 57px ;
    font-style: normal;
}
.header div {
    padding-top: 25px;
    margin-right: 40px;
    float: right;
    font-family: 'Playfair Display SC, Playfair Display SC, Playfair Display SC';
    font-size: 25px
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 50px;
    color: #ff0000;
}
.about-me img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius: 30%;
}
.about me p {
    display:inline-block ;
    margin-left: 50%;
    color: #ff0000;
}

 h2{
    font-size: 30px;
    color: #ff0000;
    text-align: justify;

}
 p {
    font-size: 18px;
    color: #ff0000;

}
.work img{
    border-radius: 50%;
}
.column{
    float: left;
    width: 33.33%;
    padding: 10px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.first-project img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30%;
}
.first-project p{
    text-align: justify;
    margin-left: 35%;
    width: 50%;
    color: #ff0000;
    text-decoration: underline;
}

.work p{
    display: inline-block;
    text-align: center;
    width: 32.5%;
    color: #ff0000;
    text-decoration: underline;
}


a {
    text-decoration: none;
    color: #ff0000;
}

p{
    font-size: 18px;
    text-align: center;
    color: #ff0000;
}

.hero {
    height: 50px;
    width: 50% ;
    margin-bottom: 30px;
   }

.contact-me p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration:none;
    
}
.footer {
    padding: 40px;
    clear: both;
    text-align: center;
    color: #ff0000;
}
 h3 {
    font-size: 25px;
    color: #ff0000;
    text-align: center;
    vertical-align: bottom;
}